body{
    height: 27.3rem;
    background: #ffffff;
}
header{
    width: 100%;
    height: 0.88rem;
    padding: 0 0.22rem;
    line-height: 0.88rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: #4ebbfe;
    font-size: 0.38rem;
    box-shadow: 0 20px 50px 0px
    rgba(41, 167, 255, 0.13);
    position: fixed;
    background: #ffffff;
    z-index: 99;
}
header>a{
    color: #4ebbfe;
    /*background: rgba(78,187,254,0.1);*/
}
.show a{
    padding: 1.7rem 0;
    display: block;
}
.show img{
    height:3.6rem ;
    width: 3rem;
    margin: 0 auto;
}
.text{
    padding: 0 0.25rem;

}
.text li:first-child{
    color: rgba(0,0,0,0.6);
    font-size: 0.3rem;
}
.text li:nth-child(2){
    height: 0.66rem;
    font-size: 0.22rem;
    line-height: 1.5;
    color: rgba(0,0,0,0.3);
}
.text .money{
    height: 0.72rem;
    line-height: 0.72rem;
    /*display: inline-block;*/
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}
/*.text .money span{*/
/*    display: inline-block;*/
/*}*/
.text .money span:first-child{
    font-size: 0.26rem;
    color: #fbb548;
}
.text .money span:nth-child(3){
    font-size: 0.2rem;
    color: rgba(0,0,0,0.3);
}
.text .money span:nth-child(4){
    margin-left: 0.15rem;
    font-size: 0.24rem;
    color:  #36a8fe;;
}
.text .money span{
    background: #ffffff;

}
.text .money .reserve{
    flex-grow: 1;
    margin-left: 0.24rem;
}
.text .money .reserve span{
    height: 0.36rem;
    padding: 0.08rem 0.2rem;
    border-radius:0.22rem;
    font-size: 0.2rem;
}
.text .money .reserve .res{
    color: #41b2fc;
    background: rgba(65,178,252,0.1);
}
.text .money .reserve .tohome{
    color: #36d681;
    background: rgba(54,214,129,0.1);
}
.Coupon{
    height: 0.84rem;
    line-height: 0.84rem;
    border-bottom: rgba(216,223,227,0.3) 0.01rem solid;
    border-top: rgba(216,223,227,0.3) 0.01rem solid;
}
.Coupon a{
    height: 0.4rem;
    line-height: 0.6rem;
    /*margin-top: 0.2rem;*/
    display: inline-block;
}
.Coupon img{
    height: 0.4rem;
    width: 0.58rem;
    margin-top: 0.14rem;
}
.Coupon .cou{
    font-size: 0.24rem;
    color: rgb(255,132,78);

}
.Coupon .pon{
    height: 0.4rem;
    width: 1.84rem;
    padding: 0.02rem 0.15rem;
    /*display: inline-block;*/
    background-image: linear-gradient(270deg,
    #ffca3b 0%,
    #ff933b 100%),
    linear-gradient(
            #ffc471,
            #ffc471);
    box-shadow: 0px 4px 16px 0px
    rgba(255, 142, 81, 0.3);
    border-radius: 0.2rem;
    font-size: 0.24rem;
    color: rgb(251,254,255);
    /*margin-top:0 ;*/
    box-sizing: border-box;
}

.text .guarantee{
    display: flex;
    justify-content:space-between;
    color: #41b2fc;
    font-size: 0.24rem;
    line-height: 0.4rem;


}
.text .guarantee span{
    /*display: block;*/
    padding: 0.16rem;
    position: relative;
}
.text .guarantee span:before{
    content: '';
    height: 0.05rem;
    width: 0.05rem;
    border-radius: 50%;
    background: #44b5ff;
    position: absolute;
    left: 0;
    top: 0.36rem;
}
.text .guarantee span:last-child:before{
    background: none;
}
.user {
    padding: 0 0.22rem;
}
.user .userTit{
    border-top: rgba(216,223,227,0.3) 0.01rem solid;
    display: inline-block;
    height: 1.08rem;
    line-height: 1.08rem;
    display: flex;
    justify-content: space-between;
}
.user .userTit .userF{
    color: #3bacfe;
    font-size: 0.32rem;
    padding-left: 0.21rem;
    position: relative;
}
.user .userTit .userF:before{
    content: '';
    height: 0.05rem;
    width: 0.05rem;
    border-radius: 50%;
    background: #3bacfe;
    position: absolute;
    top: 0.53rem;
    left: 0;
}
.user .userTit .userFt{
    color: #4f5b64;
    font-size: 0.32rem;
}
.user .userTit .look{
    color: #41b2fc;
    font-size: 0.24rem;
}
/*.user .userTit p{*/
/*    display: inline-block;*/
/*}*/
.appraise {
    height: auto;
    border-bottom: rgba(216,223,227,0.3) 0.01rem solid ;
}
.appraise .aImg{
    height: 2.1rem;
    width: 1.05rem;
    padding-right: 0.2rem;
    float: left;
}
.appraise .aImg img{
    width: 0.85rem;
    height: 0.85rem;
    display: inline-block;
    border-radius: 50%;
}

.appraise .aText{
    height: 2.1rem;
    display: flex;
    flex-direction : column;
    justify-content: center;
}
.appraise .aText .one .use{
    color: #cfcfcf;
    font-size: 0.24rem;
    display: inline-block;
    margin-right: 0.44rem;
}
.appraise .aText .one  .noneI{
    height: 0.2rem;
    width: 1.28rem;
    display: inline-block;
    /*background: #eaff40;*/

}
.appraise .one{
    position: relative;
    /*margin-bottom: 0.05rem;*/
}
.appraise .aText .one  .haveI{
    width: 1.28rem;
    height: 0.2rem;
    display: inline-block;
    /*background: #61fffa;*/
    position: absolute;
    top: 0.15rem;
    left: 1.24rem;
}
.appraise .aText .one .dat{
    color: #9ed5ff;
    font-size: 0.24rem;
    display: inline-block;
    float: right;
    margin-top: 0.075rem;
}
.appraise .aText span:nth-child(2){
    color: rgba(0,0,0,0.6);
    font-size: 0.26rem;
    margin-bottom: 0.1rem;
}
.appraise .aText span:nth-child(3){
    color: rgba(0,0,0,0.3);
    font-size: 0.24rem;
    margin-bottom: 0.1rem;
}

 .goodsImg{
     width: 7.5rem;
    border-top: rgba(216,223,227,0.3) 0.01rem solid;
    display: inline-block;
    height: 1.08rem;
    line-height: 1.08rem;
    padding: 0 0.22rem;
     border-bottom:rgba(216,223,227,0.3) 0.01rem solid ;
}
.goodsImg  .goodsU{
    color:#35db82;
    font-size: 0.32rem;
    padding-left: 0.25rem;
    position: relative;

}
.goodsImg  .goodsP{
    color:#4f5b64;
    font-size: 0.32rem;
}
.goodsImg  .goodsU:before{
    content: '';
    height: 0.05rem;
    width: 0.05rem;
    border-radius: 50%;
    background: #35db82;
    position: absolute;
    top: 0.21rem;
    left: 0;
}
.list{
    padding: 0 0.22rem;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.list li{
    height: 2.6rem;
    padding: 0.3rem 0 0 0;

}
.list li .waterHead{
    width: 1.31rem;
    height: 1.37rem;
    margin-left: 0.2rem;
}
.list li .waterHead img{
    width: 1.31rem;
    height: 1.37rem;
}
.list li div:nth-child(2){
    font-size: 0.26rem;
    color: #000000;
    margin: 0.2rem 0 0.05rem 0;
}
.list li div:nth-child(3){
    font-size: 0.28rem;
    color: #fbb548;
}
footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0.1rem 0;
    background-color: #f1faff;
    position: fixed;
    bottom: 0;
    left: 0;
}
footer div:nth-child(1){
    /*text-align: center;*/
}
footer div:nth-child(1) img{
    height: 0.6rem;
    width: 0.6rem;
}
footer div:nth-child(1) p{
    margin-top: 0.05rem;
    font-size: 0.24rem;
    color: #3bacfe;
}
footer div:nth-child(2){
    margin-right: 0.6rem;
}
footer div:nth-child(2) img{
    height: 0.6rem;
    width: 0.6rem;
    margin-left: 0.18rem;
}
footer div:nth-child(2) p a{
    font-size: 0.22rem;
    color: #2ed977;
}
footer div:nth-child(3){
    font-size: 0.24rem;
    color: #ffffff;
    line-height: 0.6rem;
    text-align: center;
    height: 0.6rem;
    width: 1.96rem;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%), linear-gradient(#3bacfe, #3bacfe);
    border-radius: 30px;
    margin-top: 0.18rem;
}
footer div:nth-child(3) a{
    font-size: 0.24rem;
    color: #ffffff;
}
footer div:nth-child(4){
    font-size: 0.24rem;
    color: #ffffff;
    line-height: 0.6rem;
    text-align: center;
    height: 0.6rem;
    width: 1.96rem;
    background-color: #3bacfe;
    box-shadow: 0px 5px 12px 0px rgba(59, 172, 254, 0.43);
    border-radius: 30px;
    margin-top: 0.18rem;
}